@model CourseDetailsVM

<button class="btn btn-primary">
    <a style="text-decoration:none" class="text-white" href="/course/Index">Back to All Courses</a>
</button>
<div>
    <p class="display-3">Details of Course: @Model.CourseName</p>
    <div class="container d-flex">
        @* <img class="img-thumbnail m-auto" width="200" height="200" src="@Model.courseImageUrl" alt="image preview" /> *@
    </div>
    <div class="container mt-2">
        <table class="table table-bordered table-hover text-center">
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Degree</th>
            <th>Minimum Degree</th>
            <th>Department</th>
            </thead>
            <tr>
                <td>@Model.CourseId</td>
                <td>@Model.CourseName</td>
                <td>@Model.CourseDegree</td>
                <td>@Model.CourseMinDegree</td>
                <td>
                    <a asp-controller="department" asp-action="details" asp-route-id="@Model.DepartmentId">@Model.DepartmentName</a>
                </td>
            </tr>
            <table />

            <hr />
            <!--Results Table-->

            <table class="table table-bordered table-hover text-center mt-3">
                <tr>
                    <th colspan="2" class="fs-5">
                        Course Results
                    </th>
                </tr>
                <tr>
                    <th>Trainee Name</th>
                    <th>Degree</th>
                </tr>
                @foreach (var item in Model.CourseResults)
                {
                    <tr class="text-@item.Color">
                        <td>@item.TraineeName</td>
                        <td>@item.Degree</td>
                    </tr>
                }
            </table>

            <hr />
            <!--Instructors Table-->

            <table class="table table-bordered table-hover text-center mt-3">
                <tr class="border-top-2">
                    <th colspan="5" class="fs-5">
                        Instructors
                    </th>
                </tr>
                <tr>
                    <th>Instructor Id</th>
                    <th>Instructor Name</th>
                    <th>Instructor Salary</th>
                    <th>Instructor Address</th>
                    <th>Instructor Details</th>
                </tr>
                @foreach (var item in Model.Instructors)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Salary.ToString("C")</td>
                        <td>@item.Address</td>
                        <td>
                            <button class="btn btn-primary">
                                <a class="text-white" style="text-decoration:none" href="/Instructor/Details/@item.Id">Details</a>
                            </button>
                        </td>
                    </tr>
                }
            </table>

            <div class="d-flex justify-content-around fs-5">
                <button class="btn btn-warning">
                    <a class="text-white" style="text-decoration:none" href="/course/edit/@Model.CourseId">Edit</a>
                </button>
                <button class="btn btn-danger" onclick="confirmDelete(@Model.CourseId)">
                    <a class="text-white" style="text-decoration:none" href="#">Remove</a>
                </button>
            </div>
    </div>
</div>

<div id="deleteAlert" class="alert alert-dismissible fade fixed-bottom w-75 m-auto mb-2" role="alert">
</div>

<script>
    function confirmDelete(id) {
        if (confirm("Are you sure you want to delete this course?")) {
            fetch(`/course/Delete/${id}`, {
                method: "DELETE"
            })
                .then(response => response.json().then(data => ({ status: response.status, message: data.message })))
                .then(data => notifyDeletion(id, data))
                .catch(error => notifyDeletion(id, error));

        }
    }

    function notifyDeletion(id, data) {
        var notification = document.getElementById("deleteAlert");
        var row = document.getElementById(id);
        if (data.status != 201) {
            notification.classList.add("alert-danger");
        }
        else {
            notification.classList.add("alert-success");
        }
        notification.innerHTML = data.message;
        notification.classList.add("show");

        setTimeout(function () {
            notification.classList.remove("show");
            location.href = "/course/Index";
        }, 3000);
    }
</script>