@model PaginationVM<Course>
@{
    ViewData["Title"] = "Courses";
}

<p class="display-3">All Courses</p>
<div class="container">
    <div class="d-flex">
        <form action="/course/search" method="post">
            <div class="input-group me-auto">
                <input class="form-control" type="search" name="searchString" placeholder="Search" />
                <select class="form-select" name="propertyToSearch">
                    <option value="name">Name</option>
                    <option value="degree">Degree</option>
                    <option value="minDegree">Minimum Degree</option>
                </select>
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <button class="btn btn-success ms-auto mb-1">
            <a class="text-white" style="text-decoration:none" href="/course/Add">New</a>
        </button>
    </div>
    <table class="table table-bordered table-hover text-center align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Degree</th>
                <th>Minimum Degree</th>
                <th>Details</th>
                <th>Modify</th>
                <th>Remove</th>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr id="@item.Id">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Degree</td>
                <td>@item.MinDegree</td>
                <td>
                    <button class="btn btn-primary">
                        <a class="text-white" style="text-decoration:none" href="/course/Details/@item.Id">Details</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning">
                        <a class="text-white" style="text-decoration:none" href="/course/Edit/@item.Id">Edit</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="confirmDelete(@item.Id)">
                        Remove
                    </button>
                </td>
            </tr>
        }
    </table>
    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="/course/?page=@(Model.CurrentPage - 1)">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" href="/course?page=@i">@i</a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="/course?page=@(Model.CurrentPage + 1)">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
<div id="deleteAlert" class="alert alert-dismissible fade fixed-bottom w-75 m-auto mb-2" role="alert">
</div>

<script>
    function confirmDelete(id) {
        if (confirm("Are you sure you want to delete this course?")) {
            fetch(`/course/Delete/${id}`, {
                method: "DELETE"
            })
                .then(response => response.json().then(data => ({ status: response.status, message: data.message })))
                .then(data => notifyDeletion(id, data))
                .catch(error => notifyDeletion(id, error));

        }
    }

    function notifyDeletion(id, data) {
        var notification = document.getElementById("deleteAlert");
        var row = document.getElementById(id);
        if (data.status != 201) {
            notification.classList.add("alert-danger");
        }
        else {
            notification.classList.add("alert-success");
            row.remove();
        }
        notification.innerHTML = data.message;
        notification.classList.add("show");

        setTimeout(function () {
            notification.classList.remove("show");
        }, 3000);
    }
</script>